.link {
    color: #000;
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.name,
.symbol {
    display: inline-block;
    margin: 0px 0px 0px 10px;
    font-size: 20px;
    line-height: 100%;
}

.symbol {
    text-transform: uppercase;
    color: rgb(165, 165, 165) !important;
}