.wrapper {
    background: white;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1345px) {
        flex-direction: row;
    }
}

.leftSide {
    width: 100%;
    max-width: 1345px;
    flex: 1;
}

.rightSide {
    flex: 3;
}

.RightBlock {
    padding: 10px;
}

.summaryButtonBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;

    > :last-child {
        margin-top: 20px;
    }

    @media screen and (min-width: 660px) {
        flex-direction: row;
        > :last-child {
            margin-top: 0;
        }
    }
}

.userWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary {
    font-size: 21px;
    font-weight: 600;
    @media screen and (min-width: 950px) {
        font-size: 32px;
    }
}

.allPortfolio {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    max-width: 1200px;
    padding: 10px;

    .infoBlock {
        margin-left: 0;
    }

    @media screen and (min-width: 1345px) {
        .infoBlock {
            margin-left: 10px;
        }
    }
}

.selectedPortfolio {
    background: #fafafa;
}

.assets {
    text-align: center;
    margin: 15px 0 5px 0;
}

.actionButton {
    position: relative;
    right: 5px;
    margin-left: auto;
}

.createPortfolio {
    cursor: pointer;
    padding: 10px;
}

.infoBlock {
    display: flex;
    flex-direction: column;
}

.direction {
    background: #f8f8f8;
    padding: 10px;
    border-radius: 10px;
}

.radio {
    display: flex;
    width: 100%;
}

.tableWrapper {
    &::-webkit-scrollbar {
        display: none;
    }
}
