.button {
    width: 130px;
    margin: 5px;
}

.button.add {
    margin-right: 5px;
    border-radius: 50px;
}

.button.clear {
    width: 150px;
    margin-left: 5px;
    border-radius: 50px;
}

.button.tile {
    margin-right: 10px;
    width: 30px;
    border: 0;
    margin-left: auto;
    font-size: 50px;
    border-radius: 50px;
}

.wrapper {
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
}
