$blackColor: #000;
$symbolColor: #808a9d;
$red: #e93943;
$green: #16c784;

.priceDifference.price {
  font-weight: 700;
  color: $blackColor;
}


.infoCard.info {
  height: 155px;
}

.statTitle.title {
  color: $symbolColor;

  .tooltip {
    padding-left: 5px;
  }

}

.highestPercentage.percentageMarket.green,
.highestPercentage.percentageMarket.red {
  font-weight: 700;
  color: $green;
}

.highestPercentage.percentageMarket.red {
  color: $red;
}

.coinSymbol.symbol {
  text-transform: uppercase;
  padding-left: 5px;
  font-size: 16px;
  color: $symbolColor;
  font-weight: 500;
}

@media (max-width: 1620px) {
  .priceDifference.price {
    font-size: 13px;
  }
}

@media (max-width: 1430px) {
  .priceDifference.price {
    font-size: 16px;
  }
}