.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.name {
    display: inline-block;
    margin: 0px 0px 0px 12px;
    font-size: 20px;
    line-height: 100%;
}
